This notebook clean the OG Rust(1987) data in ACSII. The code is borrowed from https://notes.quantecon.org/submission/6234fe0f96e1ce001b61fad8.

In [2]:
import pandas as pd 
import numpy as np
import os

In [3]:
os.getcwd()

'C:\\Users\\phamv\\Dropbox\\PHD\\AEM 7130 - Dynamic\\class-repo\\paper-presentation'

In [4]:
# Import the raw data
b1_raw = pd.read_csv(r'.\OpenSourceEconomics-zurcher-data-43d37bd\data\original_data\g870.asc', header=None)
b1_raw = pd.DataFrame(b1_raw.values.reshape((15, int(len(b1_raw) / 15)))).T

b2_raw = pd.read_csv(r'.\OpenSourceEconomics-zurcher-data-43d37bd\data\original_data\rt50.asc', header=None)
b2_raw = pd.DataFrame(b2_raw.values.reshape((4, int(len(b2_raw) / 4)))).T

b3_raw = pd.read_csv(r'.\OpenSourceEconomics-zurcher-data-43d37bd\data\original_data\t8h203.asc', header=None)
b3_raw = pd.DataFrame(b3_raw.values.reshape((48, int(len(b3_raw) / 48)))).T

b4_raw = pd.read_csv(r'.\OpenSourceEconomics-zurcher-data-43d37bd\data\original_data\a530875.asc', header=None)
b4_raw = pd.DataFrame(b4_raw.values.reshape((37, int(len(b4_raw) / 37)))).T

In [5]:
def extract_info(b):

    # Create separate dataframe for bus info
    new_index = ['' for x in range(11)]
    new_index[0] = 'bus_number'
    new_index[1] = 'month_purchased'
    new_index[2] = 'year_purchased'
    new_index[3] = 'month_replacement_1'
    new_index[4] = 'year_replacement_1'
    new_index[5] = 'odometer_replacement_1'
    new_index[6] = 'month_replacement_2'
    new_index[7] = 'year_replacement_2'
    new_index[8] = 'odometer_replacement_2'
    new_index[9] = 'month_begin'
    new_index[10] = 'year_begin'
    b_info = b.iloc[:11]
    b_info.index = new_index
    b_info = b_info.T.set_index('bus_number').T
    
    # Set bus number to be column headers
    b = b.T.set_index([0]).T

    # Drop bus info
    b = b[10:]

    # Add dates to row index
    month = b_info.loc["month_begin"].values[0]
    year = b_info.loc["year_begin"].values[0]
    b.index = pd.date_range(f"{year}-{month}-01", periods=len(b), freq="MS")

    # Fix month and years of odometer replacements to be date corresponding to odometer replacement
    # Rust points out this differs in some cases
    col_map = pd.DataFrame(b.columns).to_dict()[0]
    for o in ['1', '2']:
        x, y = np.where(b > b_info.loc[f'odometer_replacement_{o}', :])
        replacement = pd.DataFrame([x, y], index=['row', 'column']).T
        replacement = replacement.groupby('column').min()
        replacement.index = replacement.index.map(col_map)
        replacement[f'month_{o}'] = replacement['row'].apply(lambda x: b.index[x].month)
        replacement[f'year_{o}'] = replacement['row'].apply(lambda x: np.mod(b.index[x].year, 1900))
        replacement[f'replace_{o}'] = replacement['row'].apply(lambda x: pd.Timestamp(year=b.index[x].year, month=b.index[x].month, day=1))
        replacement[replacement.row == 0] = 0
        # Append checks to dataframe
        replacement = replacement.drop('row', axis=1)
        b_info = pd.concat([b_info, replacement.T])

    return b_info, b

In [6]:
def update_b(b, b_info):
    '''Resets mileage after replacement and returns investment decision matrix'''

    b_reset = b.copy()
    b_i = b.copy()
    b_i[:] = 0

    for col in b.iteritems():

        bus_number = col[0]
        bus_info = b_info[bus_number].copy()

        for r in ('1'):
            replace_date = bus_info[f'replace_{r}']

            if replace_date != 0:

                if r == '1':
                    odometer_replacement = b.loc[replace_date, bus_number]

                if r == '2':
                    # Subtract mileage from earlier replacement
                    replace_date_1 = bus_info[f'replace_1']
                    previous_mileage = b.loc[replace_date_1, bus_number]
                    odometer_replacement = b.loc[replace_date, bus_number] - previous_mileage
                
                bus_odometer = b_reset[bus_number].copy()
                
                # Find replacement date then subtract odometer replacement value from
                # odometer readings after replacement
                bus_odometer[bus_odometer.index > replace_date] -= odometer_replacement
                b_reset[bus_number] = bus_odometer

                # Set decision = 1 on replacement date
                b_i.loc[replace_date, bus_number] = 1

    return b, b_reset, b_i

In [7]:
def discretize(b, d=5000):
    '''Discretizes odometer data into buckets of length d'''

    return np.floor(b / d)

In [8]:
# Extract information from the raw datasets
b1_info, b1 = extract_info(b1_raw)
b2_info, b2 = extract_info(b2_raw)
b3_info, b3 = extract_info(b3_raw)
b4_info, b4 = extract_info(b4_raw)

# Get relevant data and merge
b1, b1_reset, b1_i = update_b(b1, b1_info)
b2, b2_reset, b2_i = update_b(b2, b2_info)
b3, b3_reset, b3_i = update_b(b3, b3_info)
b4, b4_reset, b4_i = update_b(b4, b4_info)

b = pd.concat([b1, b2, b3, b4], axis=1, join='outer')
b_reset = pd.concat([b1_reset, b2_reset, b3_reset, b4_reset], axis=1, join='outer')
b_i = pd.concat([b1_i, b2_i, b3_i, b4_i], axis=1, join='outer')

# Create dataframe for likelihood estimation
b_data = pd.concat([discretize(b_reset.T.stack()), b_i.T.stack()], axis=1)
b_data.columns = ['state', 'decision']

In [29]:
b_data

                 state  decision
0
4403 1983-05-01    0.0       0.0
     1983-06-01    0.0       0.0
     1983-07-01    1.0       0.0
     1983-08-01    2.0       0.0
     1983-09-01    3.0       0.0
...                ...       ...
5333 1985-01-01   68.0       0.0
     1985-02-01   68.0       0.0
     1985-03-01   69.0       0.0
     1985-04-01   69.0       0.0
     1985-05-01   69.0       0.0

[8260 rows x 2 columns]

In [38]:
b_data[b_data]

MultiIndex([(4403, '1983-05-01'),
            (4403, '1983-06-01'),
            (4403, '1983-07-01'),
            (4403, '1983-08-01'),
            (4403, '1983-09-01'),
            (4403, '1983-10-01'),
            (4403, '1983-11-01'),
            (4403, '1983-12-01'),
            (4403, '1984-01-01'),
            (4403, '1984-02-01'),
            ...
            (5333, '1984-08-01'),
            (5333, '1984-09-01'),
            (5333, '1984-10-01'),
            (5333, '1984-11-01'),
            (5333, '1984-12-01'),
            (5333, '1985-01-01'),
            (5333, '1985-02-01'),
            (5333, '1985-03-01'),
            (5333, '1985-04-01'),
            (5333, '1985-05-01')],
           names=[0, None], length=8260)

In [22]:
discretize(b_reset.T.stack())

4403  1983-05-01     0.0
      1983-06-01     0.0
      1983-07-01     1.0
      1983-08-01     2.0
      1983-09-01     3.0
                    ...
5333  1985-01-01    68.0
      1985-02-01    68.0
      1985-03-01    69.0
      1985-04-01    69.0
      1985-05-01    69.0
Length: 8260, dtype: float64

In [18]:
N = b_state.notna().sum().sum()
p = (b_state == 0).sum().sum() / N
#q = (b_state == 1).sum().sum() / N
#(p, q)

In [19]:
N

8156

In [13]:
b_data.to_csv('bus_data.csv', index=False)